.createUser_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.createUser_form > form{
    border: 2px solid black;
    padding: 3%;
    border-radius: 10%;
    width: 30%;
}